* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}
a {
	text-decoration: none;
}
.logo-container {
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 25px 40px;
}
.logo-circle {
   width: 28px;
   height: 28px;
   border: 8px solid #5a58ff;
   border-radius: 50%;
}
.logo-text {
   font-size: 24px;
   color: #5a58ff;
   font-weight: 900;
}

/* Login Card */
.login-card {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -58%);
   width: 360px;
   padding: 35px 40px;
   margin: 30px auto;
   border-radius: 15px;
   box-shadow: 0 5px 18px rgba(0,0,0,0.1);
   text-align: center;
}
.title {
   color: #5a58ff;
   margin-bottom: 25px;
   font-size: 32px;
   font-weight: 800;
}

/* Input Fields */
.input-username,  .input-password {
   position: relative;
   margin: 10px 0;
}
.input-username i, .input-password i {
   position: absolute;
   left: 15px;
   top: 50%;
   transform: translateY(-50%);
   color: gray;
}
.input-username i {
   font-size: 19px;
}
.input-password i {
   font-size: 17px;
}
.input-username input, .input-password input {
   width: 100%;
   padding: 10px 15px 10px 45px;
   border: 2px solid #ccc;
   border-radius: 20px;
   font-size: 15px;
   outline: none;
   transition: 0.2s;
}
.input-username input:focus,  .input-password input:focus {
   border-color: #5a58ff;
}
.input-username input:focus::placeholder,
.input-password input:focus::placeholder {
   color: transparent;
}

/* Forgot password */
.forgot-row {
   display: flex;
   justify-content: flex-end;
   margin-bottom: 15px;
}
.forgot {
   font-size: 13px;
   color: #ff5757;
}
.forgot:hover {
   text-decoration: underline;
}

/* Login button */
.login-btn {
   width: 100%;
   padding: 8px;
   background: #5a58ff;
   color: white;
   border: none;
   border-radius: 20px;
   font-size: 17px;
   cursor: pointer;
   transition: 0.2s;
}
.login-btn:hover {
   background: #3532f7;
}

/* Divider */
.divider {
   display: flex;
   align-items: center;
   margin: 20px 0 5px;
   gap: 8px;
   font-size: 13px;
   color: #555;
}
.divider span {
   flex-grow: 1;
   height: 1px;
   background: #bbb;
}

/* Contact us */
.contact {
   font-size: 14px;
   color: #5a58ff;
   text-decoration: none;
}
.contact:hover {
   text-decoration: underline;
}