* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}
a {
	text-decoration: none;
}


/* ----- SIDEBAR / NAVIGATION ----- */
.sidebar {
	position: fixed;
	background-color: #5a58ff;
	color: white;
	top: 0;
	bottom: 0;
	width: 280px;
	padding: 20px 0;
	border-radius: 0 52px 52px 0;
	list-style: none;
}
.sidebar .logo {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	margin-bottom: 50px;
}
.sidebar .logo .logo-circle {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border: 11px solid white;
}
.sidebar .logo .logo-name {
	font-size: 35px;
	font-weight: bolder;
}

.sidebar ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
}
.body-home .sidebar ul .dashboard a {
	color: white;
	font-weight: 600;
}
.sidebar ul li {
	padding: 0 30px 30px 60px;
}
.sidebar ul li a {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 25px;
	font-size: 18px;
	color: #C2C0FF;
}

.navigation-list {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.sidebar .nav-list2 {
	position: absolute;
	bottom: 20px;
}


/* ----- HEADER ----- */
.header {
	margin: 10px 50px 0px 330px;
	display: flex;
	align-items: start;
	justify-content: space-between;
}
.header-left h1 {
	font-size: 48px;
	font-weight: 800;
}
.header-left p {
	color: #ccc;
	font-size: 18px;
	font-weight: 600;
}

/* HEADER-RIGHT */
.header-right {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
	margin-top: 10;
}
.header-date {
	font-weight: 600;
}
.header-notif {
	font-size: 28px;
	cursor: pointer;
}
.header-right a {
	color: black;
}
.profile-section {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	cursor: pointer;
}
.profile-icon {
	font-size: 36px;
}
.profile-name {
	font-size: 16px;
	font-weight: 600;
}
.profile-role {
	font-size: 14px;
	color: #ccc;
}


/* ----- HOME/DASHBOARD - MAIN ----- */
.main {
	margin: 0px 50px 15px 330px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
}
.top-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	margin: 15px 0 15px 0;
}

.dropdown {
   position: relative;
	width: auto;
}
.dropdown-btn {
   cursor: pointer;
   font-size: 16px;
   font-weight: 500;
   border: none;
   background-color: #5a58ff;
   color: white;
   padding: 8px 12px;
   width: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.dropdown-btn i {
	color: white;
   transition: transform 0.25s ease;
}
.dropdown.open .dropdown-btn i {
   transform: rotate(180deg);
}
.dropdown-options {
	width: 100%;
   position: absolute;
   top: 110%;
   left: 0;
   background: white;
   border-radius: 12px;
   display: none;
   flex-direction: column;
   box-shadow: 1px 1px 8px rgba(0,0,0,0.1);
	font-size: 14px;
}
.dropdown-options a {
   padding: 8px 12px;
   text-decoration: none;
   color: black;
}
.dropdown-options a:hover {
   background-color: #E7E6FF;
}

.button {
	width: 140px;
   padding: 8px 12px;
	background-color: #5a58ff;
	color: white;
   box-shadow: 1px 3px 10px rgba(0,0,0,0.08);
	border: none;
   border-radius: 18px;
   cursor: pointer;
	font-weight: 500;
	transition: 0.2s;
}
.button:hover {
	background-color: #3532f7;
}
.button:active {
	transform: scale(0.95);
	box-shadow: none;
}


.charts-box {
	width: 100%;
}
.charts-box-wrapper {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 25px;
}
.box {
	width: 255px;
	height: 180px;
	background: linear-gradient(to bottom, #fff, #C2C0FF);
	border-radius: 24px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
   box-shadow: 1px 3px 10px rgba(0,0,0,0.1);
}
.box:nth-child(2) {
	background: linear-gradient(to bottom, #fff, #9e9dff);
}
.box:nth-child(3) {
	background: linear-gradient(to bottom, #fff, #7674f8);
}
.box-content {
	margin-left: 60px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.box-content i {
	font-size: 32px;
	color: #5a58ff;
} 
.box-content .amount {
	font-size: 18px;
	font-weight: 600;
}
.box-content .box-text {
	font-size: 16px;
	font-weight: 500;
	color: #808080;
}


.sales-data {
	margin-top: 10px;
	width: 100%;
}
.sales-data-wrapper {
	width: 100%;
}
.sales-data-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	position: relative;
}
.sales-data-header h1 {
	font-size: 24px;
}


.sales-table {
   width: 100%;
   background: white;
   border-radius: 12px;
   overflow: hidden;
   box-shadow: 0 3px 8px rgba(0,0,0,0.08);
}
.sales-table table {
   width: 100%;
   border-collapse: collapse;
   font-family: Arial, sans-serif;
}
.sales-table th {
   background: #9e9dff;
   padding: 14px 10px;
   text-align: center;
   font-size: 15px;
   font-weight: 600;
}
.sales-table td {
	text-align: center;
   padding: 14px 18px;
   font-size: 15px;
   color: #383838;
}
.sales-table tbody tr:nth-child(even) {
   background: #C2C0FF;
}
.sales-table tbody tr:hover {
   background: #9e9dff;
   transition: 0.05s;
}



/* Date button */
.date-btn {
	width: 190px;
	background: white;
	color: black;
	font-size: 14px;
	height: 40px;
	position: relative;
}
.date-btn i {
	color: #5a58ff;
}
.date-btn:hover, .date-btn:hover i {
	color: white;
}


.date-picker {
   position: relative;
   display: flex;
   align-items: center;
   border: 1px solid #ccc;
   padding: 2px 12px;
   border-radius: 12px;
   width: 175px;
   box-shadow: 1px 3px 10px rgba(0,0,0,0.08);
   transition: 0.2s;
}
.date-picker:hover {
   border-color: #5a58ff;
   box-shadow: 0 2px 10px rgba(90, 88, 255, 0.2);
}
.date-picker i {
   font-size: 18px;
   margin-right: 8px;
   color: #5a58ff;
}
.date-input {
   border: none;
   outline: none;
   width: 100%;
   font-size: 15px;
   font-weight: 500;
   color: #444;
   background: transparent;
   cursor: pointer;
}
/* Remove the ugly default calendar icon (Chrome/Edge) */
.date-input::-webkit-calendar-picker-indicator {
   opacity: 0;
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   cursor: pointer;
	border: none;
}









/* iNVENTORY - Inventory & Sales Management System */
.body-inventory .sidebar ul .inventory a {
	color: white;
	font-weight: 600;
}

.search-container {
   display: flex;
   align-items: center;
   gap: 10px;
   width: 100%;
	margin: 15px 0 10px 0;
}

/* Search bar */
.search-box {
   flex: 1;
   display: flex;
   align-items: center;
   background: white;
   padding: 7px 9px;
   border-radius: 40px;
   box-shadow: 1px 3px 10px rgba(0,0,0,0.08);
   position: relative;
}
.search-box i {
   font-size: 20px;
   color: #b5b5b5;
	margin: 0 20px 0 10px;
}
.search-box input {
   flex: 1;
	border: none;
   outline: none;
   font-size: 15px;
   color: #333;
}
.search-box input::placeholder {
   color: #ccc;
}
.search-box input:focus::placeholder {
	color: transparent;
	
}

/* Search button */
.search-btn {
   padding: 8px 25px;
   border-radius: 25px;
}
.search-btn.button {
	width: auto;
}

/* Sort button */
.sort-btn {
   display: flex;
   align-items: center;
   gap: 8px;
   background: white;
	color: black;
	font-weight: 500;
   box-shadow: 1px 3px 10px rgba(0,0,0,0.08);
   font-size: 14px;
}
.sort-btn.button {
	width: auto;
	height: 40px;
}
.sort-btn.button:hover {
	color: white;
}
.sort-btn i {
   font-size: 18px;
   color: #5a58ff;
	transition: 0.2s;
}
.sort-btn:hover i {
	color: white;
}
.edit-button button {
	width: 90px;
}

/* Inventory JS InnerHTML */
.qty-box {
   width: 50px;
   text-align: center;
}
.qty-box::-webkit-outer-spin-button,
.qty-box::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.minus, .plus {
   padding: 2px 8px;
   margin: 0 3px;
   cursor: pointer;
	width: auto;
	border-radius: 8px;
}






/* TRANSACTION - Inventory & Sales Management System */
.body-transaction .sidebar ul .transaction a {
	color: white;
	font-weight: 600;
}

/* SEARCH BAR */
.body-transaction .search-box {
   width: 500px;
   padding: 7px 9px;
   display: flex;
   gap: 10px;
	margin-top: 20px;
   margin-bottom: 15px;
}


/* Search Results Dropdown */
.search-box {
   position: relative;
}
.search-results {
   position: absolute;
	top: 110%;
	left: 0;
   background: white;
   border: none;
   border-radius: 18px;
   max-height: 300px;
   overflow-y: auto;
   width: 100%;
   display: none;
   z-index: 1000;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   margin-top: 5px;
}
.search-results.show {
   display: block;
}
.search-results::-webkit-scrollbar {
   width: 8px;
}
.search-results::-webkit-scrollbar-track {
   background: transparent;
   border-radius: 10px;
}
.search-results::-webkit-scrollbar-thumb {
   background: #ccc;
   border-radius: 10px;
}
.search-results::-webkit-scrollbar-thumb:hover {
   background: #999;
}

.search-result-item {
   padding: 12px;
   cursor: pointer;
   border-bottom: 1px solid #eee;
   transition: background 0.2s;
}
.search-result-item:last-child {
   border-bottom: none;
}
.search-result-item:hover {
   background: #9e9dff;
}
.search-result-item .item-name {
   font-weight: 500;
   margin-bottom: 4px;
}
.search-result-item .item-details {
   font-size: 14px;
   color: #666;
}
.no-results {
   padding: 10px;
   color: #666;
   text-align: center;
}


/* LAYOUT */
.top-section {
   display: flex;
   align-items: center;
   gap: 25px;
	margin-bottom: 15px;
}

/* TABLE */
.product-table {
   width: 600px;
   border-collapse: separate;
   border-spacing: 0;
   background: white;
   border-radius: 14px;
   overflow: hidden;
   box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
	text-align: center;
}
.product-table th,
.product-table td { 
	width: 300px; 
}
.product-table thead tr {
   background: #9e9dff;
}
.product-table th {
   padding: 8px 12px;
   font-size: 14px;
   font-weight: 600;
}
.product-table tbody td {
   height: 50px;
}

/* QUANTITY + ADD BUTTON */
.add-section {
   display: flex;
   gap: 20px;
   font-size: 14px;
}
.quantity {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}
.quantity p {
	font-weight: 600;
}
.qty-input {
   width: 60px;
   padding: 8px 10px;
   border-radius: 8px;
	outline: none;
   border: 1px solid white;
   box-shadow: 1px 3px 8px rgba(0,0,0,.08);
}
.add-button {
	display: flex;
	align-items: center;
	justify-content: center;
}
.add-button button {
	width: 100px;
   padding: 10px 8px;
   border-radius: 20px;
   font-size: 14px;
}


/* ITEMS TO PURCHASE */
.purchase {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.item-to-purchase {
	width: 100%;
	display: flex;
	gap: 15px;
}
.cart-table {
   width: 100%;
	max-width: 80%;
	height: auto;
   border-collapse: collapse;
   border-spacing: 0;
}
.cart-table tbody td {
   font-size: 14px;
}
.cart-table.sales-table tbody tr:nth-child(even) {
   background: inherit;
}
.cart-table.sales-table tbody tr:hover {
   background: inherit;
}

/* Delete button */
.delete-btn {
   background: #ff4e4e;
   color: white;
   border: none;
   padding: 8px 14px;
   border-radius: 16px;
   font-size: 13px;
   cursor: pointer;
   transition: 0.2s;
}
.delete-btn:hover {
   background: #e63939;
}
.delete-btn:active {
   transform: scale(0.95);
}

/* SUMMARY PANEL */
.summary-panel {
   display: flex;
	flex-direction: column;
	gap: 15px;
	flex: 1;
}
.total-box {
   background: #9e9dff;
   width: 100%;
   padding: 15px;
   border-radius: 14px;
   box-shadow: 0 0 10px rgba(0,0,0,0.08);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
}
.total-box p {
	font-weight: 600;
   color: #333;
}
.total-box h3 {
   font-size: 24px;
}
.receipt-btn {
	width: 100%;
   padding: 15px 28px;
   border-radius: 20px;
}


.body-transaction .search-container {
	display: flex;
	flex-direction: column;
	align-items: start;
}
.body-transaction .search-container .section-title {
	margin-top: 10px;
	margin-bottom: -25px;
}
.body-transaction .section-header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 10px;
}

/* ALERT */
.custom-alert {
	margin-left: 100px;
   position: fixed;
   top: 45px;
   left: 50%;
	transform: translate(-50%, -50%);
   background: #5a58ff;
   color: white;
   padding: 12px 20px;
   border-radius: 10px;
   box-shadow: 1px 3px 12px rgba(0,0,0,0.2);
   font-size: 14px;
   opacity: 0;
   pointer-events: none;
   transition: opacity 0.3s ease;
}
.custom-alert.show {
   opacity: 1;
}






/* HISTORY - Inventory & Sales Management System */
.body-history .sidebar ul .history a {
	color: white;
	font-weight: 600;
}

.history-log-table th , 
.history-log-table td {
	text-align: left;
	padding-left: 50px;
}









/* SETTINGS - Inventory & Sales Management System */
.background {
	position: absolute;
	top: 0;
	bottom: 50%;
	width: 100%;
	background: linear-gradient(to bottom, #5a58ff, #363599);
	z-index: -2;
}
.body-settings .sidebar ul .settings a {
	color: white;
	font-weight: 600;
}
.body-settings .header {
	color: white;
}
.body-settings .header-right a {
	color: white;
}

.body-settings .main {
	padding: 30px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 25px;
}
.card {
	background: white;
	border-radius: 12px;
	box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.1);
	height: 100%;
}
.card-header {
	background: #5a58ff;
	color: white;
	padding: 12px 20px;
	border-radius: 12px 12px 0 0;
	font-weight: bold;
}
.card-body {
	padding: 18px 22px;
}
.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
}
.row p {
	color: #333;
	font-weight: 500;
}
.row button {
	background-color: white;
	color: black;
	width: auto;
	display: flex;
	gap: 18px;
	padding: 7px 12px;
}
.row button:hover, 
.row button:hover i {
	background-color: initial;
}
.row button i {
	color: black;
	font-size: 12px;
}
.row .dropdown-options {
	top: 105%;
	z-index: 1;
}

input, select {
   padding: 10px 12px;
   border: 1px solid #ccc;
   border-radius: 10px;
   font-size: 15px;
   outline: none;}
.badge {
	padding: 8px 14px;
	border-radius: 10px;
	color: black;
	background-color: white;
	width: auto;
}
.badge.button:hover {
	background-color: initial;
}
.buttons {
	margin-top: 20px;
	display: flex;
	gap: 15px;
}
.account-settings .buttons,
.store-info-settings .buttons {
	justify-content: end;
}
.backup .button, .restore .button {
	display: flex;
	align-items: center;
	gap: 10px;
	width: auto;
}
.backup .button i, .restore .button i {
	font-size: 20px;
}






/* PROFILE - Inventory & Sales Management System */
.body-profile .sidebar ul .profile a {
	color: white;
	font-weight: 600;
}
.body-profile .header {
	color: white;
}
.body-profile .header-right a {
	color: white;
}

.body-profile .main {
	padding: 15px 30px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 25px;
}

/* PROFILE-CARD */
.profile-card-section {
	margin: 0px 50px 0px 330px;
}
.profile-card {
   display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
   gap: 10px;
}
/* Avatar circle */
.avatar {
   width: 175px;
   height: 175px;
   border-radius: 50%;
   background: #5a58ff;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}
.avatar i {
   font-size: 150px;
   color: white;
}

/* Name box */
.name-box {
   background: #5a58ff;
   padding: 12px 35px;
   border-radius: 12px;
   text-align: center;
   box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}
.profile-card .profile-name {
   font-size: 20px;
   font-weight: 600;
   color: #fff;
}
.profile-card .profile-role {
   font-size: 14px;
   color: #383838;
	font-weight: 500;
}

.personal-info .card-header, .work-details .card-header {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/* .personal-info .edit-button button,
.work-details .edit-button button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	color: #5a58ff;
	font-weight: 600;
	height: 30px;
}
.personal-info .edit-button button:hover,
.work-details .edit-button button:hover {
	background-color: #5a58ff;
	color: white;
} */