<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>History - Inventory & Sales Management System</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
   <script src="https://kit.fontawesome.com/a72bc5f9a8.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
   <link rel="stylesheet" href="./css/style.css">
</head>
<body class="body-history">
   <!-- ----- SIDEBAR / NAVIGATION ----- -->
   <nav class="sidebar">
      <div class="logo">
         <div class="logo-circle"></div>
         <span class="logo-name">Logo</span>
      </div>

      <ul class="nav-list">
         <li class="dashboard">
            <a href="./index.html" class="nav-dashboard">
               <i class="bi bi-house"></i>
               <span>Dashboard</span>
            </a>
         </li>

         <li class="inventory">
            <a href="./inventory.html" class="nav-inventory">
               <i class="bi bi-archive"></i>
               <span>Inventory</span>
            </a>
         </li>

         <li class="transaction">
            <a href="./transaction.html" class="nav-transaction">
               <i class="bi bi-card-checklist"></i>
               <span>Transaction</span>
            </a>
         </li>

         <li class="history">
            <a href="./history.html" class="nav-history">
               <i class="bi bi-clock-history"></i>
               <span>History</span>
            </a>
         </li>
      </ul>

      <ul class="nav-list2">
         <li class="settings">
            <a href="./settings.html" class="nav-settings">
               <i class="bi bi-gear"></i>
               <span>Settings</span>
            </a>
         </li>

         <li class="logout">
            <a href="./login.html" class="nav-logout">
               <i class="bi bi-box-arrow-left"></i>
               <span>Logout</span>
            </a>
         </li>
      </ul>
   </nav>


   <!-- ----- HEADER ----- -->
   <header class="header">
      <div class="header-left">
         <div class="header-dashboard">
            <h1>Activities Log</h1>
         </div>
      </div>
      
      <div class="header-right">
         <div class="header-date">
            
         </div>

         <div class="header-notif">
            <i class="fa-solid fa-bell"></i>
         </div>

         <a href="./profile.html">
            <div class="profile-section">
               <div class="profile-icon">
                  <i class="bi bi-person-fill"></i>
               </div>

               <div class="profile-text">
                  <div class="profile-name">Jonas Escanilla</div>
                  <div class="profile-role">Admin</div>
               </div>
            </div>
         </a>
      </div>
   </header>

   
   
   <!-- ----- MAIN ----- -->
   <main class="main">
      <div class="search-container">
         <div class="search-box">
            <i class="bi bi-search"></i>
            <input type="text" placeholder="Search by item name, ID or date...">
            <button class="search-btn button" type="button">Search</button>
         </div>

         <div class="date-picker">
            <i class="bi bi-calendar"></i>
            <input class="date-input" type="date">
         </div>
      </div>

      <!-- TABLE -->
      <div class="history-log-table sales-table">
         <table>
            <thead>
               <tr>
                  <th>Timestamp</th>
                  <th>User</th>
                  <th>Action</th>
                  <th>Details</th>
               </tr>
            </thead>
            <tbody>
               
            </tbody>
         </table>
      </div>
   </main>


   <script src="./js/transactionStorage.js"></script>
   <script src="./js/account-management.js"></script>
   <script src="./js/script.js"></script>
   <script src="./js/history.js"></script>
</body>
</html>