<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Inventory - Inventory & Sales Management System</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
   <script src="https://kit.fontawesome.com/a72bc5f9a8.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
   <link rel="stylesheet" href="./css/style.css">
</head>
<body class="body-inventory">
   <!-- ----- SIDEBAR / NAVIGATION ----- -->
   <nav class="sidebar">
      <div class="logo">
         <div class="logo-circle"></div>
         <span class="logo-name">Logo</span>
      </div>

      <ul class="nav-list">
         <li class="dashboard">
            <a href="./index.html" class="nav-dashboard">
               <i class="bi bi-house"></i>
               <span>Dashboard</span>
            </a>
         </li>

         <li class="inventory">
            <a href="./inventory.html" class="nav-inventory">
               <i class="bi bi-archive"></i>
               <span>Inventory</span>
            </a>
         </li>

         <li class="transaction">
            <a href="./transaction.html" class="nav-transaction">
               <i class="bi bi-card-checklist"></i>
               <span>Transaction</span>
            </a>
         </li>

         <li class="history">
            <a href="./history.html" class="nav-history">
               <i class="bi bi-clock-history"></i>
               <span>History</span>
            </a>
         </li>
      </ul>

      <ul class="nav-list2">
         <li class="settings">
            <a href="./settings.html" class="nav-settings">
               <i class="bi bi-gear"></i>
               <span>Settings</span>
            </a>
         </li>

         <li class="logout">
            <a href="./login.html" class="nav-logout">
               <i class="bi bi-box-arrow-left"></i>
               <span>Logout</span>
            </a>
         </li>
      </ul>
   </nav>


   <!-- ----- HEADER ----- -->
   <header class="header">
      <div class="header-left">
         <div class="header-dashboard">
            <h1>Inventory</h1>
         </div>
      </div>
      
      <div class="header-right">
         <div class="header-date">
            Nov. 14, 2025
         </div>

         <div class="header-notif">
            <i class="fa-solid fa-bell"></i>
         </div>

         <a href="./profile.html">
            <div class="profile-section">
               <div class="profile-icon">
                  <i class="bi bi-person-fill"></i>
               </div>

               <div class="profile-text">
                  <div class="profile-name">Jonas Escanilla</div>
                  <div class="profile-role">Admin</div>
               </div>
            </div>
         </a>
      </div>
   </header>

   
   
   <!-- ----- MAIN ----- -->
   <main class="main">
      <div class="search-container">
         <div class="search-box">
            <i class="bi bi-search"></i>
            <input type="text" placeholder="Search by item name, ID or date...">
            <button class="search-btn button" type="button">Search</button>
         </div>

         <div class="sort-inventory dropdown">
            <button class="sort-btn dropdown-btn button" type="button">
               <i class="bi bi-arrow-down-up"></i>
               <span>Sort</span>
            </button>
            <div class="dropdown-options">
               <a href="" data-key="category">Category (A-Z)</a>
               <a href="" data-key="type">Type (A-Z)</a>
               <a href="" data-key="price">Price (Low-High)</a>
               <a href="" data-key="quantity">Quantity (Low-High)</a>
               <a href="" data-key="status">Status</a>
            </div>
         </div>

         <div class="edit-button">  
            <button id="edit-btn" class="button" type="button">Edit</button>
         </div>

         <div class="save-changes-button" style="display: none;">
            <button id="save-btn" class="button" type="button">Save changes</button>
         </div>

      </div>

      <!-- TABLE -->
      <div class="sales-table inventory-table">
         <table id="inventory-table">
            <thead>
               <tr>
                  <th>Category</th>
                  <th>Type</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Status</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>Tops</td>
                  <td>T-shirts</td>
                  <td>₱120</td>
                  <td>25</td>
                  <td></td>
               </tr>
               <tr>
                  <td>Tops</td>
                  <td>Polo-shirts</td>
                  <td>₱150</td>
                  <td>18</td>
                  <td></td>
               </tr>
               <tr>
                  <td>Tops</td>
                  <td>Long sleeves</td>
                  <td>₱180</td>
                  <td>22</td>
                  <td></td>
               </tr>
               <tr>
                  <td>Bottoms</td>
                  <td>Shorts</td>
                  <td>₱100</td>
                  <td>12</td>
                  <td></td>
               </tr>
               <tr>
                  <td>Bottoms</td>
                  <td>Baggy Pants</td>
                  <td>₱130</td>
                  <td>20</td>
                  <td></td>
               </tr>
               <tr>
                  <td>Bottoms</td>
                  <td>Jeans</td>
                  <td>₱200</td>
                  <td>28</td>
                  <td></td>
               </tr>
               <tr>
                  <td>Bottoms</td>
                  <td>Skirts</td>
                  <td>₱150</td>
                  <td>16</td>
                  <td></td>
               </tr>
               <tr>
                  <td>Bottoms</td>
                  <td>Slacks</td>
                  <td>₱180</td>
                  <td>9</td>
                  <td></td>
               </tr>
               <tr>
                  <td>Outerwear</td>
                  <td>Jackets</td>
                  <td>₱250</td>
                  <td>21</td>
                  <td></td>
               </tr>
               <tr>
                  <td>Outerwear</td>
                  <td>Hoodies</td>
                  <td>₱200</td>
                  <td>15</td>
                  <td></td>
               </tr>
               <tr>
                  <td>Outerwear</td>
                  <td>Coats</td>
                  <td>₱300</td>
                  <td>0</td>
                  <td></td>
               </tr>
               <tr>
                  <td>Outerwear</td>
                  <td>Cardigans</td>
                  <td>₱180</td>
                  <td>23</td>
                  <td></td>
               </tr>
               <tr>
                  <td>Footwear</td>
                  <td>Sneakers</td>
                  <td>₱220</td>
                  <td>17</td>
                  <td></td>
               </tr>
               <tr>
                  <td>Footwear</td>
                  <td>Sandals</td>
                  <td>₱120</td>
                  <td>30</td>
                  <td></td>
               </tr>
               <tr>
                  <td>Footwear</td>
                  <td>Boots</td>
                  <td>₱250</td>
                  <td>0</td>
                  <td></td>
               </tr>
               <tr>
                  <td>Footwear</td>
                  <td>Heels</td>
                  <td>₱200</td>
                  <td>19</td>
                  <td></td>
               </tr>
            </tbody>
         </table>
      </div>
   </main>


   <script src="./js/script.js"></script>
   <script src="./js/inventory.js"></script>
   <script src="./js/transactionStorage.js"></script>
</body>
</html>